task_name: physicaliqa
model: "roberta-large"
accumulate_grad_batches: 8
use_amp: true # Half precison only works with volta architectures such as V100
max_epochs: 4
weight_decay: 0.02
learning_rate: 2e-6
adam_epsilon: 10e-8
warmup_steps: 150
batch_size: 8
max_length: 128
formula: "goal -> sol1|sol2"
train_x: "cache/physicaliqa-train-dev/physicaliqa-train-dev/train.jsonl"
train_y: "cache/physicaliqa-train-dev/physicaliqa-train-dev/train-labels.lst"
val_x: "cache/physicaliqa-train-dev/physicaliqa-train-dev/dev.jsonl"
val_y: "cache/physicaliqa-train-dev/physicaliqa-train-dev/dev-labels.lst"

