requests==2.22.0
torch==1.2.0
tqdm==4.31.1
transformers==2.0.0
loguru==0.3.2
numpy==1.16.4
captum==0.1.0
dataclasses==0.7
pytorch_lightning==0.5.2.1
scikit_learn==0.21.3
test_tube==0.7.3
typing==3.7.4.1
PyYAML==5.1.2
