torch==1.2.0.dev20190729
requests==2.21.0
loguru==0.3.2
tqdm==4.35.0
transformers==2.0.0
captum==0.1.0
pytorch_lightning==0.5.0
numpy==1.16.3
test_tube==0.6.9
dataclasses==0.7
scikit_learn==0.21.3
typing==3.7.4.1
PyYAML==5.1.2
